* {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif; }

.body {
  background-color: silver; }

/* GRID de la pagina INDEX */
.padreIndex {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
  grid-template-areas: "header header header header" ". primeraParte primeraParte ." ". primeraParte primeraParte ." "carousel carousel carousel carousel" "listaTorneos listaTorneos listaTorneos listaTorneos" "footer footer footer footer"; }

.header {
  grid-area: header;
  background-image: linear-gradient(90deg, #061024 0%, #182c50 25%, #182c50 50%, #182c50 75%, #061024 100%); }
  .header .menuNav {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
    list-style: none; }
    .header .menuNav .palabraNav {
      margin: auto 6rem; }
    .header .menuNav img {
      width: 150px;
      padding: .5rem; }
    .header .menuNav a {
      color: white;
      text-decoration: none;
      font-family: 'Heebo', sans-serif; }
      .header .menuNav a:hover {
        color: #3a55f0; }
  .header .menuNav2 {
    display: none;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
    list-style: none; }
    .header .menuNav2 a {
      color: white;
      text-decoration: none;
      font-family: 'Heebo', sans-serif; }

.footer {
  grid-area: footer;
  background-image: linear-gradient(90deg, black 0%, #282828 50%, black 100%); }
  .footer .textoFooter {
    display: flex;
    padding: 2rem;
    color: white;
    font-family: 'Heebo', sans-serif;
    justify-content: space-between; }
    .footer .textoFooter .listaFooter ul {
      width: 400px;
      display: flex;
      justify-content: space-around;
      list-style: none; }
      .footer .textoFooter .listaFooter ul a {
        text-decoration: none;
        color: white; }
        .footer .textoFooter .listaFooter ul a:hover {
          color: #182c50; }
    .footer .textoFooter .textoCopy {
      text-align: center; }

#index .primeraParte {
  grid-area: primeraParte;
  padding: 3rem; }
  #index .primeraParte .textoPrimera {
    padding: 1.5rem;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 18px; }
    #index .primeraParte .textoPrimera .tituloPrimera {
      padding-bottom: 1rem; }
    #index .primeraParte .textoPrimera p .textoResaltado {
      font-weight: bold; }

#index .carousel {
  grid-area: carousel; }

#index .listaTorneos {
  grid-area: listaTorneos;
  display: flex;
  background-image: linear-gradient(90deg, #061024 0%, #182c50 25%, #182c50 50%, #182c50 75%, #061024 100%);
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 3rem;
  font-family: 'Heebo', sans-serif;
  font-size: 18px; }
  #index .listaTorneos .tituloLista {
    padding: 1rem;
    text-align: center; }
  #index .listaTorneos ul {
    list-style: none;
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: center; }
    #index .listaTorneos ul li {
      padding: .5rem; }

@media (max-width: 567px) {
  #index .padreIndex {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "primeraParte" "carousel" "listaTorneos" "footer"; }
  #index .header nav .menuNav .palabraNav {
    display: none; }
  #index .header nav .menuNav2 {
    background-color: #182c50;
    display: flex;
    margin: 0;
    font-size: 16px;
    justify-content: space-around; }
  #index .primeraParte .textoPrimera {
    font-size: 20px;
    padding: 0; }
  #index .listaTorneos {
    padding: 2rem 0 2rem 0; }
    #index .listaTorneos ul {
      margin: 0;
      padding: 0; }
  #index .footer .textoFooter {
    display: block; }
    #index .footer .textoFooter .listaFooter ul {
      width: auto; }
    #index .footer .textoFooter .textoCopy {
      width: 100%;
      margin-top: 1rem; } }
