.footer {
    grid-area: footer;
    background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(40, 40, 40) 50%, rgb(0, 0, 0) 100%);

    .textoFooter {
        display: flex;
        padding: 2rem;
        color: white;
        font-family: 'Heebo', sans-serif;
        justify-content: space-between;

        .listaFooter {
            ul {
                width: 400px;
                display: flex;
                justify-content: space-around;
                list-style: none;

                a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        color: #182c50;
                    }
                }
            }
        }

        .textoCopy {
            text-align: center;
        }



    }
}